@use "../variables.scss" as v;

.button {
  height: v.$buttonHeight;
  line-height: v.$buttonHeight;
  border-left: v.$border;
  border-top: v.$border;
  border-bottom: none;
  border-right: none;
  color: v.$white;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 22px;
}

.button--width-normal {
  width: v.$buttonWidth;
}

.wide {
  width: 110px;
}

.border-bottom-left-radius {
  border-bottom-left-radius: v.$borderRadius;
}

.border-bottom-right-radius {
  border-bottom-right-radius: v.$borderRadius;
}

.button:hover {
  cursor: pointer;
}
