@use "../variables" as *;

.button {
  height: $buttonHeight;
  line-height: $buttonHeight;
  border-left: $border;
  border-top: $border;
  border-bottom: none;
  color: $white;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 22px;
}

.wide {
  width: 110px;
}

.button:hover {
  cursor: pointer;
}
