@use "../variables.scss" as v;

.digits {
  .button:nth-last-of-type(-n + 2) {
    border-bottom: v.$border;
  }

  &__button--lightgrey {
    background-color: v.$lightGrey;
    border-right: none;
  }

  &__button--width-wide {
    width: 110px;
  }

  &__button--width-normal {
    width: v.$buttonWidth;
  }
}
