@use "../variables" as *;
.digits {
  .button:nth-last-of-type(-n + 2) {
    border-bottom: $border;
  }

  &__button--lightgrey {
    background-color: $lightGrey;
    border-right: none;
  }

  &__button--width-wide {
    width: 110px;
  }

  &__button--width-normal {
    width: $buttonWidth;
  }
}
