@use "../variables.scss" as v;

.digits {
  .button:nth-last-of-type(-n + 2) {
    border-bottom: v.$border;
  }
}

.digits__button--lightgrey {
    background-color: v.$lightGrey;
}

.digits__button--width-wide {
  width: 110px;
}