@use "../variables.scss" as v;

.keyboard {
  display: flex;

  &--border-bottom-left-radius {
    border-bottom-left-radius: v.$borderRadius;
  }

  &--border-bottom-right-radius {
    border-bottom-right-radius: v.$borderRadius;
  }
}

.grey-buttons {
  display: flex;
  flex-wrap: wrap;
  width: v.$buttonWidth * 3;
}
