@use "../variables.scss" as *;

.keyboard {
  display: flex;

  &--border-bottom-left-radius {
    border-bottom-left-radius: $borderRadius;
  }

  &--border-bottom-right-radius {
    border-bottom-right-radius: $borderRadius;
  }
}

.grey-buttons {
  display: flex;
  flex-wrap: wrap;
  width: $buttonWidth * 3;
}
