@use "../variables.scss" as *;

.screen {
  height: 78px;
  background-color: $graphite;
  width: 4 * $buttonWidth - 2 * $borderWidth;
  display: flex;
  justify-content: flex-end;
  border-radius: $borderRadius $borderRadius 0 0;
  border: $border;

  &--font-small {
    font-size: 16px;
  }

  &--font-regular {
    font-size: 45px;
  }

  &__display {
    color: $white;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    top: -25px;
    font-family: "Courier New", monospace;
  }
}
