@use "../variables.scss" as v;

.screen--font-small {
  font-size: 16px;
}

.screen--font-regular {
  font-size: 45px;
}

.screen {
  height: 78px;
  background-color: v.$graphite;
  width: 4 * v.$buttonWidth - 2 * v.$borderWidth;
  display: flex;
  justify-content: flex-end;
  border-radius: v.$borderRadius v.$borderRadius 0 0;
  border: v.$border;
}

.screen__display {
  color: v.$white;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  top: -25px;
  font-family: "Courier New", monospace;
}
