@use "../variables.scss" as v;

.small-font {
  font-size: 16px;
}

.regular-font {
  font-size: 45px;
}

.screen {
  height: 78px;
  background-color: v.$graphite;
  width: 4 * v.$buttonWidth - 2 * v.$borderWidth;
  display: flex;
  justify-content: flex-end;
  border-radius: v.$borderRadius v.$borderRadius 0 0;
  border: v.$border;
}

.screen {
  .display {
    color: v.$white;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    top: -25px;
    font-family: "Courier New", monospace;
  }
}
