.vertical-symbols {
  display: flex;
  flex-wrap: wrap;
  width: 55px;
}

.vertical-symbols > .button:nth-last-child(1) {
  border-bottom: var(--border);
}

.vertical-symbols > .button {
  background-color: rgba(255, 153, 0, 0.87);
  border-right: var(--border);
}
