@use "../variables.scss" as *;

.vertical-symbols {
  display: flex;
  flex-wrap: wrap;
  width: $buttonWidth;

  &__button--width-normal {
    width: $buttonWidth;
  }

  &__button-orange {
    background-color: $lightOrange;
    border-right: $border;
  }

  .button:last-child {
    border-bottom: $border;
  }
}
