@use "../variables.scss" as v;

.vertical-symbols {
  display: flex;
  flex-wrap: wrap;
  width: v.$buttonWidth;

  &__button--width-normal {
    width: v.$buttonWidth;
  }

  &__button-orange {
    background-color: v.$lightOrange;
    border-right: v.$border;
  }

  .button:last-child {
    border-bottom: v.$border;
  }
}
