@use "../variables.scss" as v;

.vertical-symbols {
  display: flex;
  flex-wrap: wrap;
  width: v.$buttonWidth;
}

.vertical-symbols {
  .button:nth-last-child(1) {
    border-bottom: v.$border;
  }
}

.vertical-symbols__button-orange {
  background-color: v.$lightOrange;
  border-right: v.$border;
}

// .vertical-symbols {
//   .button {
//     background-color: v.$lightOrange;
//     border-right: v.$border;
//   }
// }
