$border: #424242 1px solid;
$borderWidth: 1px;
$buttonWidth: 55px;
$buttonHeight: 46px;
$borderRadius: 10px;

//colors
$grey: #383838e0;
$lightGrey: rgb(112, 112, 112);
$graphite : #000000c7;
$white: #fff;
$lightOrange: rgba(255, 153, 0, 0.87);
