:root {
  --border: #424242 1px solid;
}

.calc {
  padding: 10px;
}

.screen {
  height: 78px;
  background-color: #000000c7;
  width: 218px;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px 10px 0 0;
  border:  var(--border);
}

.screen > .display {
  color: #fff;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  top: -25px;
  font-family: "Courier New", monospace;
}

.display-font {
  font-size: 25px;
}

.regular-font {
  font-size: 45px;
}

.keyboard {
  display: flex;
}

.button {
  width: 55px;
  height: 46px;
  line-height: 46px;
  background-color: rgb(112, 112, 112);
  border-left: var(--border);
  border-top:  var(--border);
  border-bottom: none;
  border-right: none;
  color: #fff;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 22px;
}

.wide {
  width: 110px !important;
}

.border-bottom-left-radius {
  border-bottom-left-radius: 10px;
}

.border-bottom-right-radius {
  border-bottom-right-radius: 10px;
}

.button:hover {
  cursor: pointer;
}

.grey-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 165px;
}

.digits > .button:nth-last-of-type(-n + 2) {
  border-bottom:  var(--border);
}

.horizontal-symbols button {
  background-color: #383838e0;
}

.vertical-symbols > .button:nth-last-child(1) {
  border-bottom:  var(--border);
}

.vertical-symbols {
  display: flex;
  flex-wrap: wrap;
  width: 55px;
}

.vertical-symbols > .button {
  background-color: rgba(255, 153, 0, 0.87);
  border-right:  var(--border);
}
