.screen {
  height: 80px;
  background-color: #000000c7;
  width: 220px;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px 10px 0 0;
}

.screen > .display {
  color: #fff;
  padding-right: 10px;
  padding-top: 10px;
  position: relative;
  top: -25px;
  font-family: "Courier New", monospace;
}

.display-font {
  font-size: 25px;
}

.regular-font {
  font-size: 45px;
}

.keyboard {
  display: flex;
}

.button {
  width: 55px;
  height: 46px;
  line-height: 46px;
  background-color: rgb(112, 112, 112);
  border: rgb(100, 100, 100) 1px solid;
  color: #fff;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 22px;
}

.wide {
  width: 110px !important;
}

.border-bottom-left-radius {
  border-bottom-left-radius: 10px;
}

.border-bottom-right-radius {
  border-bottom-right-radius: 10px;
}

.button:hover {
  cursor: pointer;
}

.grey-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 165px;
}

.digits {
}

.horizontal-symbols button {
  background-color: #383838e0;
}

.vertical-symbols {
  display: flex;
  flex-wrap: wrap;
  width: 55px;
}

.vertical-symbols > .button {
  background-color: rgba(255, 153, 0, 0.87);
}
